---
import SEO from "../components/SEO.astro";

interface Props {
  generator: string;
  title: string;
  description: string;
  websiteUrl: string;
  altImage: string;
}

const { generator, title, description, websiteUrl, altImage } =
  Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {generator} {title} {description} {websiteUrl} {altImage} />
  </head>
  <body>
    <slot />
  </body>
</html>
